body {
    background: #A23EFA;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
h1 {
    color: aliceblue;
    text-align: center;
}
h2 {
    color: #F0F8FF;
    text-align: left;
}
